
/*BANNER TEXT STARTS*/
.bannerText h1 {
  color:#646364;
  position: relative;
}
.bannerText h1::after {
  content: '';
  position: absolute;
}
.bannerText h1::before {
  content: '';
  position: absolute;
}
/*BANNER TEXT ENDS*/



/*NAV BAR STARTS*/

/*NAV BAR ENDS*/




/*IMAGE SLIDER STARTS*/
.carousel{
  width:1200px;
  max-width: 100%;
}
.transparent{
  opacity: 0!important;
}
/*IMAGE SLIDER ENDS*/



/*MEDIA ICONS STARTS*/
.fa {
  padding: 15px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 2%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #303232;
  color:#babab8;
}

/* Twitter */
.fa-twitter {
  background: #303232;
  color:#babab8;
}

.fa-rss {
  background: #303232;
  color:#babab8;
}

.fa-google {
  background: #303232;
  color:#babab8;
}

.fa-linkedin {
  background: #303232;
  color:#babab8;
}
/*MEDIA ICONS ENDS*/




/*SEARCH BAR STARTS*/
.highlight {
  background-color: #fff34d;
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4 */
  border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
   padding:1px 4px;
   margin:0 -4px;
}
/*SEARCH BAR ENDS*/




/*STREAM FLICKR STARTS*/
.img.img-fluid:hover{
  opacity: 0.5;
  cursor: pointer;
}
/*STREAM FLICKR ENDS*/




/*SIDE BAR SIGN UP STARTS*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  
  color:black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: white;
}

button:hover {
  opacity:0.7;
  
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/*SIDE BAR SIGN UP ENDS*/




/*READ MORE STARTS*/
.showmore {
  font-size: 1.1em;
  margin-top: 1.5em;
}

.showmore .more, .showmore.show .dots {
  display: none
}

.showmore.show .more {
  display: inline
}

.showmore button {
  color: white;
  width: 40%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: cornflowerblue;
  margin-top: 3%;
  margin-bottom: 12%;
  cursor: pointer;
  display: block;
  font-weight: bold;
}
/*READ MORE ENDS*/


.container footer{
text-align: center;
}